version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:4.0-management
    container_name: ducktasks-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
      - "15692:15692"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - backend-net

  enterprice-backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: enterprice-backend
    depends_on:
      - rabbitmq
    env_file:
    ## Uses the ENV files for security reasons ##
      - .env
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: "5672"
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest

    ports:
      - "8080:8080"
    networks:
      - backend-net

volumes:
  rabbitmq_data:

networks:
  backend-net:
